<header>
<nav>
    <li><a href="index.html">Home</a></li>
    <li><a href="https://www.dccomics.com/movies">Movies</a></li>
    <li><a href="https://www.dccomics.com/characters">Characters</a></li>
    <li><a href="https://www.dccomics.com/comics">Comics</a></li>
</nav>
</header>